.section-meals {
    max-width: 90%;
    width: 60rem;
    margin: 2rem auto;
    animation: meals-appearance 1s ease-out forwards;
}

.section-meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-meals ul>li:last-child {
    border: none;
}

.error-occurred {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.spinner-div {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

.spinner-div svg{
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes meals-appearance {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}