.ul-style{
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.empty-cart {
    padding: 2%;
    border: 1px dashed #b3b3b3;
    text-align: center;
}

.empty-cart p {
    color: #b3b3b3;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
    padding: 5%;
    font-family: sans-serif;
}

.empty-cart button {
    margin-top: 2%;
    border: none;
    background-color: #8a2b06;
    color: white;
    border-radius: 999em;
    padding: 1.5% 5%;
}

.empty-cart button:hover {
    background-color: #641e03;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button, .order-confirmed button{
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active,
.order-confirmed button:hover,
.order-confirmed button:active{
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.actions .button--alt, .order-confirmed .button--alt{
    color: #8a2b06;
}

.actions .button,  .order-confirmed .button{
    background-color: #8a2b06;
    color: white;
}

.order-confirmed button{
    margin-left: 0;
    margin-top: 0.83em;
}

.order-confirmed{
    text-align: center;
}

.order-confirmed span {
    font-weight: bold;
    color: #8a2b06;
}


.error-occurred {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.spinner-div {
    color: #8a2b06;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

.spinner-div svg{
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}